.cadastrados{
    margin-right: 4rem;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.editar {
       margin-right: 1rem;
       margin-top: 1rem;
       padding: 10px;
       border-radius: 10px;
       background-color: orchid;
   
}

.voltar {
    margin-left: 2rem;
    margin-right: 4rem;
    padding: 10px;
    border-radius: 10px;
    background-color: orchid;

}