.parent {
    display: grid;
    place-items: center;
}

.cadastrados {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;

}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
}

.salvar {
    cursor: pointer;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 0, 140);
    font-weight: bold;
   
}

.voltar {
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 0, 140);
    cursor: pointer;

}
