<div class="parent">

    <select class="cadastrados" style="margin-top: 2rem; text-align: center;">
        <option selected disabled value="">Cadastrados</option>
        <option *ngFor="let teste of items">{{teste.name}}</option>
    </select>
    
    <input name="cadastro" type="text" autocomplete="off" [disabled]="true"
    style="width: 50rem; height: 3rem; border-radius: 15px; background-color: gray; 
    margin-top: 2rem; text-align: center; font-weight: bold; color: white;">

    <div style="margin-top: 2rem;">

        <button type="submit" class="salvar"
        style="font-weight: bold;" [disabled]="form.invalid">Salvar</button>

        <button [routerLink]="['']" class="voltar"><strong>Voltar</strong></button>
        
    </div>

</div>
