<form [formGroup]="form" (ngSubmit)="onClick('enviar')">

    <div class="parent" style="margin-top: 2rem; font-weight: bold; color: white;">Novo Cadastro</div>

    <div class="parent">
        <input name="cadastro"  type="text" placeholder="Digite seu nome..." formControlName="cadastro" 
        style="width: 50rem; height: 3rem; border-radius: 15px; background-color: gray; 
        margin-top: 2rem; text-align: center; font-weight: bold; color: white;">
    </div>

    <div style="text-align : center;">
        <button type="submit" value="Enviar" class="cadastrar" id="enviar"
        style="font-weight: bold;" [disabled]="form.invalid">Enviar</button>
        <button [routerLink]="['']" class="voltar"><strong>Voltar</strong></button>
    </div>

</form>

<div style="text-align: -webkit-center;">
    <div class="bg-modal">
        <div class="modal-content">
            <p style="color: white; font-weight: bold;">Usuario cadastrado com sucesso!</p>
        </div>
        <a class="close" (click)="onClick('close')">+</a>
    </div>
</div>

<!-- <span class="popuptext" id="myPopup">Popup text...</span> -->