.parent {
  display: grid;
  place-items: center;
}

::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
}

.enviar {
  cursor: pointer;
  margin-top: 1rem;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 0, 140);
  font-weight: bold;

  &:disabled {
    cursor: auto;
  }

}

.voltar {
  margin-left: 2rem;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 0, 140);
  cursor: pointer;

}

.close {
  position: absolute;
  right: 25px;
  font-size: 30px;
  font-weight: bold;
  transform: rotate(45deg);
  color: rgb(255, 0, 140);
  cursor: pointer;

}

.alert {
  background: gray; 
  height: 50px;
  width: 350px;
  position: absolute;
  bottom: 0;
  left: 37%;
  overflow: hidden !important;
  border-radius: 25px;
  opacity: 0;
  
}

.alert.showAlert {
  opacity: 1;

}

.alert.show {
  animation: show_slide 1s ease forwards;

}

@keyframes show_slide {
  0% {
      transform: translateY(100%);
  }
  40% {
      transform: translateY(-10%);
  }
  80% {
      transform: translateY(0%);
  }
  100% {
      transform: translateY(-10px);
  }
}

.alert.hide {
  animation: hide_slide 1s ease forwards;

}

@keyframes hide_slide {
  0% {
      transform: translateY(-10px);
  }
  40% {
      transform: translateY(0%);
  }
  80% {
      transform: translateY(-10%);
  }
  100% {
      transform: translateY(100%);
  }
}

.alert .msg {
  font-size: 18px;
  color: white;
  font-weight: bold;
  
}

.alert .close-btn {
  position: absolute;
  right: 2px;
  border-radius: 50px;
  background: rgb(255, 0, 140);
  padding: 3px 15px;
  cursor: pointer;
  transform: scale(50%);

}

.close-btn .fa-times {
  color: black;
  font-size: 22px;
  line-height: 40px;
  cursor: pointer;
  
}