<form [formGroup]="form" (ngSubmit)="onClick('enviar', form)">

    <div class="parent" style="margin-top: 2rem; font-weight: bold; color: white;">Novo Cadastro</div>

    <div class="parent">
        <input  name="cadastro" type="text" autocomplete="off"
        placeholder="Digite seu nome..." formControlName="cadastro" 
        style="width: 50rem; height: 3rem; border-radius: 15px; background-color: gray; 
        margin-top: 2rem; text-align: center; font-weight: bold; color: white;">
    </div>

    <div style="text-align : center;">

        <button type="submit" class="enviar"
        style="font-weight: bold;" [disabled]="form.invalid">Enviar</button>

        <button [routerLink]="['']" class="voltar"><strong>Voltar</strong></button>
        
    </div>

    <div class="parent alert hide">
        <span class="msg">Usuario cadastrado com sucesso!</span>
        <button class="close-btn" (click)="onClick('','')">
            <span class="fas fa-times"></span>
        </button>
    </div>

</form>