<form id="some-form">

    <div class="parent" style="margin-top: 2rem; font-weight: bold; color: white;">Novo Cadastro</div>

    <div class="parent">
        <input placeholder="Digite seu nome..." required type="text" style="width: 50rem; height: 3rem; 
        border-radius: 15px; background-color: gray; 
        margin-top: 2rem; text-align: center; font-weight: bold; color: white;">
    </div>

    <div style="text-align : center;">
        <input type="submit" value="submit" class="cadastrar" style="font-weight: bold;">
        <button [routerLink]="['']" class="voltar"><strong>Voltar</strong></button>
    </div>

</form>